.error{
    color: red;
    font-weight: bold;
}

.co{
    list-style-image: url(./../../../assets/co.png);
}
.deco{
    list-style-image: url(./../../../assets/deco.png);
}
ul li img{
    height: 4vh;
}